################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio 2015/2017 cache/options directory
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/


/.vs/aspnet-mongo/v17/.futdcache.v2
/.vs/ProjectEvaluation/aspnet-mongo.metadata.v7.bin
/aspnet-mongo/appsettings.Development.json
*.user
*.bin
