################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnet-mongo/bin/Debug/net7.0
/aspnet-mongo/obj
/aspnet-mongo/appsettings.Development.json
/aspnet-mongo/aspnet-mongo.csproj.user

# Visual Studio 2015/2017 cache/options directory
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
